
# Node.js
# Build React app
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- task: Bash@3
  inputs:
    targetType: 'inline'
    workingDirectory: '$(System.DefaultWorkingDirectory)/react-app'
    script: |
      echo "Node version:"
      node -v
      echo "NPM version:"
      npm -v
      echo "Installing dependencies..."
      npm install
      echo "Building React app..."
      npm run build
  displayName: 'Build React app'
